<div class="p-5 z-10 top-0 left-0 w-full shadow-md">
    <div class=" flex flex-row justify-between">
        <div class="flex-grow">
            <button [routerLink]="['main']">
                <figure>
                    <img class="w-24" src="skinproject.png" alt="logo">
                </figure>
            </button>
        </div>


        <div class="flex-grow text-center">
            <app-search></app-search>
        </div>

        <div class="flex-grow flex justify-end items-center gap-5">
            <button
                class="text-white px-3 py-2 rounded bg-orange-600 transition duration-700 hover:bg-orange-300 hover:text-orange-800"
                (click)="logout()" [appNgAuth]="true">
                Log Out
            </button>
            <p class="text-white hover:text-orange-600">
                <button [routerLink]="['login']" [appNgAuth]="false">Iniciar Sesión</button>
            </p>
            <button
                class="text-white px-3 py-2 rounded bg-orange-600 transition duration-700 hover:bg-orange-300 hover:text-orange-800"
                [routerLink]="['register']" [appNgAuth]="false">
                Registrate
            </button>

        </div>
    </div>
</div>