.main {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2px;

    .products {
        width: 100%;
        display: grid;
        height: 100hv;
        overflow: auto;
        scroll-behavior: smooth;
    }
}

.sidebar {
    padding-bottom: 10px;
    height: fit-content;
    background-color: #2B2E30;

}


.main {
    display: flex;

    width: 100%;
    overflow: auto;
}

.navbar {
    background-color: #2B2E30;
    margin-bottom: 2px;
}