@if(product){

<div class="card">
    @if(product.availability === 0){
    <p class="dispo"> <fa-icon [icon]="faClock"></fa-icon> Disponible ahora</p>
    }@else if(product.availability === 1){
    <p class="dispo"><fa-icon [icon]="faClock"></fa-icon> Disponible en {{product.availability}} día</p>
    }@else {
    <p class="dispo"><fa-icon [icon]="faClock"></fa-icon> Disponible en {{product.availability}} dias</p>
    }
    <figure>
        <img [src]="product.image" [alt]="product.name">
    </figure>
    <p class="price">{{product.price}} €</p>
    <div class="info">
        <p>{{product.model}}</p>
        <h4>{{product.name}}</h4>
        <p>{{product.condition}}</p>
        <p class="rarity">{{product.rarity}}</p>
        @if(product.color.length > 1){
        <p> <span [class]="product.color[0]" class="text-xs">{{product.color[0]}}</span>, <span
                [class]="product.color[1]" class="text-xs">{{product.color[1]}}</span>
        </p>
        }@else{
        <p class=""> <span [class]="product.color[0]" class="text-xs">{{product.color[0]}}</span></p>
        }
    </div>
</div>
}